@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slide-in {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in-1 {
  animation: slide-up 1s ease-out;
  animation-delay: 1s;
}

.animate-slide-in-2 {
  animation: slide-in 1s ease-out;
  animation-delay: 2s;
}

.logo {
  height: 60px;
  width: 60px;
  display: flex;
  border-radius: 3rem;
}

.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link:hover,
.nav-link.active {
  color: rgb(36, 35, 37);
}

.nav-link:hover::after,
.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 2px;
  background: rgb(36, 35, 37);
  transition: background-color 0.3s;
  width: 50%;
}

.skills {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.skillsGrid {
  display: grid;
  grid-auto-rows: auto;
  height: auto;
}


@media screen and (max-width: 640px) {
  .skillsGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .skillsGrid img {
    height: 75px;
    width: 75px;
  }
}

@media screen and (min-width: 641px) {
  .skillsGrid {
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    padding:0 2rem 10rem 2rem;
  }

  .skillsGrid img {
    height: 100px;
    width: 100px;
  }
}

@media screen and (min-width: 1080px) {
  .skillsGrid {
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
    padding: 2rem 10rem 7rem 10rem;
  }

  .skillsGrid img {
    height: 125px;
    width: 125px;
  }
}


.icon:hover {
  transform: scale(1.1);
}

.button {
  background-color: #ffffff00;
  color: #fff;
  width: 8.5em;
  height: 2.9em;
  border: #0f832c 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
  margin-top: 1rem;
}

.button:hover {
  cursor: pointer;
}

.button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em
}
